<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
        <li><img src="/images/brightfuture-logo.png" alt="Bright Future Logo"><strong>BrightFuture Builders</strong>: info@brightfuture.org</li>
        <li><img src="/images/unityserve-logo.png" alt="Unity Serve Logo"><strong>UnityServe Volunteers</strong>: hello@unityserve.org</li>
        <li><img src="/images/greenharvest-logo.png" alt="Green Harvest Logo"><strong>GreenHarvest Growers</strong>: contact@greenharvest.org</li>
</main>
<%- include('partials/footer') %>